---
layout: default
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---

<style>
    .clustrmaps{width:320px; height:120px; float:right}

    .button1{
        display: inline-block;
        border-radius: 4px;
        background-color: #f2ae55;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 19px;
        padding: 11px 28px;
        width: 230px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button1 span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button1:hover span {
        padding-right: 25px;
    }

    .button1:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button2{
        display: inline-block;
        border-radius: 4px;
        background-color: #f2ae55;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 19px;
        padding: 11px 28px;
        width: 210px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button2 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button2 span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button2:hover span {
        padding-right: 25px;
    }

    .button2:hover span:after {
        opacity: 1;
        right: 0;
    }
    @media screen and (max-width: 200px) {
        .button1 {
            width: 100%;
            height: 50%;
        }
        .button2 {
            width: 100%;
            height: 50%;
        }
    }
</style>

{{ content }}
